<h3 align="center">{{ system_hostname() }}</h3>
<p align="center">
<a href="/status">Status</a> |
{% if session['logged_in'] %}
<a href="/scan">Scan</a> |
<a href="/mesh">Mesh</a> |
<a href="/dhcp_server">DHCP Server</a> |
<a href="/settings">Settings</a> |
<a href="/debug">Debug</a> |
{% if query_setting('mesh_type') == 'olsr' %}
<a href="/olsr_services">OLSR Services</a> |
{% endif %}
<a href="/logout">Logout</a> |
{% if query_setting('should_reboot') %}<b>{% endif %}<a href="/reboot">Reboot</a>{% if query_setting('should_reboot') %}</b>{% endif %} |
{% else %}
<a href="/login">Login</a> |
{% endif %}
<a href="static/mesh-front-py.tgz">Download</a>
</p>
<hr>
{% block body %}{% endblock %}
