{% extends 'web/base.html' %}


{% block body %}

<table border=1>
   <caption>CJDNS Credentials to Connect to this Node</caption>
   <tr><th>User</th><th>Password</th></tr>
   {% for in_auth in cjdns.authorizedPasswords %}
      <tr><td>{{ in_auth.user }}</td>
      <td>{{ in_auth.password }}</td>
      <td><form method="get" action="/cjdns/in_auth/delete/{{ loop.index -1 }}"><button type="submit">Delete</button></form></td>
      </tr>
    {% endfor %}
</table>
<form method="get" action="/cjdns/in_auth/add">
   <button type="submit">Add</button>
</form>

<table border=1>
   <caption>CJDNS Output Connections form this Node</caption>
   <tr><th>IP and Port</th><th>User</th><th>Peer Name</th></tr>
   {% for ipAndPort in cjdns.interfaces.UDPInterface.0.connectTo %}
      <tr><td>{{ ipAndPort }}</td>
      <td>{{ cjdns['interfaces']['UDPInterface'][0]['connectTo'][ipAndPort]['login'] }}</td>
      <td>{{ cjdns['interfaces']['UDPInterface'][0]['connectTo'][ipAndPort]['peerName'] }}</td>
      <td><form method="get" action="/cjdns/out_auth/delete/{{ ipAndPort }}"><button type="submit">Delete</button></form></td>
      </tr>
    {% endfor %}
   {% for ipAndPort in cjdns.interfaces.UDPInterface.1.connectTo %}
      <tr><td>{{ ipAndPort }}</td>
      <td>{{ cjdns['interfaces']['UDPInterface'][1]['connectTo'][ipAndPort]['login'] }}</td>
      <td>{{ cjdns['interfaces']['UDPInterface'][1]['connectTo'][ipAndPort]['peerName'] }}</td>
      <td><form method="get" action="/cjdns/out_auth/delete/{{ ipAndPort }}"><button type="submit">Delete</button></form></td>
      </tr>
    {% endfor %}
</table>
<form method="get" action="/cjdns/out_auth/add">
   <button type="submit">Add</button>
</form>

{% endblock %}
