{% extends 'web/base.html' %}

{% block body %}

<script src="static/jquery.min.js"></script>
<style>
table select {
   width: 100%
}
table input {
   width: 100%
}
</style>

<form method="post">
<input type="hidden" name="save" value="1">
<table>
<tr><th colspan="2">System</th></tr>
<tr><td>Hostname</td><td><input type="text" name="system_hostname" value="{{system.hostname}}"></td></tr>
<tr><td>Mesh Type</td><td>
	<select id="mesh_type" name="system_mesh_type">
		{% for mesh_type in system.mesh_types %}
			<option {% if mesh_type == system.mesh_type %}selected{% endif %}>{{mesh_type}}</option>
		{% endfor %}
	</select></td></tr>
<tr><td>Share Internet Uplink:</td><td>
	<select name="system_uplink">
		<option></option>
		{% for interface in system.interfaces %}
		<option {% if interface == system.uplink %}selected{% endif %}>{{interface}}</option>
		{% endfor %}
	</select></td></tr>

<tr><th colspan="2">Interface</th></tr>
<tr><td>Wireless Interface</td><td>
	<select id="wireless_interface" name="wireless_interface">
		{% for wireless_interface in system.wireless_interfaces %}
			<option {% if wireless_interface == wireless.interface %}selected{% endif %}>{{wireless_interface}}</option>
		{% endfor %}
	</select></td></tr>
<tr><td>Wireless Interface Type</td><td><select id="wireless_inet" name="wireless_inet">{% for inet in ['static', 'dhcp', 'manual'] %}
                <option {% if inet == wireless.inet %}selected{% endif %}>{{inet}}</option>
        {% endfor %}</select></td></tr>

<tr><td>Wireless Address</td><td><input type="text" name="wireless_address" value="{{wireless.wireless_address}}"></td></tr>
<tr><td>Wireless Mode</td><td>
	<select name="wireless_mode">
                <option></option>
		<option selected>ad-hoc</option>
	</select></td></tr>
<tr><td>Wireless Channel</td><td><input type="number" name="wireless_channel" value="{{wireless.wireless_channel}}" min="-2" max="14"></td></tr>
<tr><td>Wireless ESSID</td><td><input type="text" name="wireless_essid" value="{{wireless.wireless_essid}}"></td></tr>

<tr><th colspan="2">Mesh</th></tr>
<tr><td>Mesh Interface</td><td>
	<select id="mesh_interface" name="mesh_interface">
		{% for interface in system.interfaces %}
		<option {% if interface == mesh.interface %}selected{% endif %}>{{interface}}</option>{% endfor %}
		<option>bat0</option>
	</select></td></tr>
<tr><td>Mesh Interface Type</td><td><select id="mesh_inet" name="mesh_inet">{% for inet in ['', 'static', 'dhcp', 'manual'] %}
                <option {% if inet == mesh.inet %}selected{% endif %}>{{inet}}</option>
        {% endfor %}</select></td></tr>
<tr><td>IP Address</td><td><input type="text" name="mesh_address" value="{{mesh.address}}"></td></tr>
<tr><td>Netmask</td><td><input type="text" name="mesh_netmask" value="{{mesh.netmask}}"></td></tr>
<tr id="olsrd_key"><td>OLSRD Key</td><td><input type="text" name="system_olsrd_key" value="{{system.olsrd_key}}"></td></tr>

</table>
<input type="submit" value="Save">
</form>
<br />

<script>
function refresh_mesh() {
   mesh_type = $('#mesh_type').val();
   if ( mesh_type == 'olsr' ) {
      $('#olsrd_key').show()
      $('#mesh_inet').prop('readonly', true);

      $('#mesh_interface').val( $('#wireless_interface').val() )
      $('#mesh_inet').val( '' )
      $('#wireless_inet').val( 'static' )
   } else if ( mesh_type == 'batman' ) {
      $('#olsrd_key').hide()
      $('#mesh_inet').prop('readonly', false);

      $('#mesh_interface').val( 'bat0' )
      $('#wireless_inet').val( 'manual' )
   } else {
      $('#olsrd_key').show()
      $('#mesh_inet').prop('readonly', false);
   }
}

$(document).ready(function() {

// Disable things javascript users cannot be trusted to set
$('#mesh_interface').prop('readonly', true);
refresh_mesh()

$('#mesh_type').change(function() {
   refresh_mesh()
});

}); 
</script>

{% endblock %}
