<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">%h_{{service_type}}</name>
<service>
<type>_{{service_type}}._tcp</type>
<txt-record>{{text}}</txt-record>
<port>{{service_port}}</port>
</service>
</service-group>
