{% block body %}

<h1>Mesh</h1>

<form method="post">
<input type="hidden" name="save" value="1">
<table>
<tr><td>Interface</td><td>
	<select name="iface">
		{% for iface in mesh.ifaces %}<option>{{iface}}</option>{% endfor %}
	</select></td></tr>
<tr><td>Type</td><td><input type="text" name="inet" value="{{mesh.inet}}"></td></tr>
<tr><td>IP Address</td><td><input type="text" name="ip_address" value="{{mesh.ip_address}}"></td></tr>
<tr><td>Netmask</td><td><input type="text" name="netmask" value="{{mesh.netmask}}"></td></tr>
<tr><td>Wireless Address</td><td><input type="text" name="address" value="{{mesh.address}}"></td></tr>
<tr><td>Wireless Mode</td><td><input type="text" name="wireless_mode" value="{{mesh.mode}}"></td></tr>
<tr><td>Wireless Channel</td><td><input type="text" name="wireless_channel" value="{{mesh.channel}}"></td></tr>
<tr><td>Wireless ESSID</td><td><input type="text" name="wireless_essid" value="{{mesh.essid}}"></td></tr>
</table>
<input type="submit" value="Save">
</form>
<br />

{% endblock %}
