{% extends 'base.html' %}

{% block body %}

<h1>Mesh</h1>

<form method="post">
<input type="hidden" name="save" value="1">
<table>
<tr><td>Mesh Type</td><td>
	<select name="mesh_type">
		{% for mesh_type in ['batman', 'olsr'] %}
			<option {% if mesh.mesh_type == mesh_type %}selected{% endif %}>{{mesh_type}}</option>
		{% endfor %}
	</select></td></tr>
<tr><td>Interface</td><td>
	<select name="mesh_interface">
		{% for wireless_interface in wireless_interfaces %}
			<option {% if wireless_interface == mesh_interface %}selected{% endif %}>{{wireless_interface}}</option>
		{% endfor %}
	</select></td></tr>
<tr><td>Interface Type</td><td><select name="inet">{% for inet in ['manual', 'static', 'dhcp'] %}
                <option {% if inet == mesh.inet %}selected{% endif %}>{{inet}}</option>
        {% endfor %}</select></td></tr>
<tr><td>IP Address</td><td><input type="text" name="address" value="{{mesh.address}}"></td></tr>
<tr><td>Netmask</td><td><input type="text" name="netmask" value="{{mesh.netmask}}"></td></tr>

<tr><td>Wireless Address</td><td><input type="text" name="wireless_address" value="{{mesh.wireless_address}}"></td></tr>
<tr><td>Wireless Mode</td><td><input type="text" name="wireless_mode" value="{{mesh.wireless_mode}}"></td></tr>
<tr><td>Wireless Channel</td><td><input type="number" name="wireless_channel" value="{{mesh.wireless_channel}}" min="-2" max="14"></td></tr>
<tr><td>Wireless ESSID</td><td><input type="text" name="wireless_essid" value="{{mesh.wireless_essid}}"></td></tr>

{% if mesh.mesh_type == 'olsr' %}
<tr><td>OLSRD Key</td><td><input type="text" name="olsrd_key" value="{{mesh.olsrd_key}}"></td></tr>
{% endif %}

<tr><td>Hostname</td><td><input type="text" name="hostname" value="{{mesh.hostname}}"></td></tr>

<tr><td>Act as Internet Gatway on:</td><td>
	<select name="gateway_interface">
		<option></option>
		{% for interface in interfaces %}
		<option {% if interface == mesh.gateway_interface %}selected{% endif %}>{{interface}}</option>
		{% endfor %}
	</select></td></tr>
<tr><td>Act as Local DHCP Server on:</td><td>
	<select name="dhcp_server_interface">
		<option></option>
		{% for interface in interfaces %}
		<option {% if interface == mesh.dhcp_server_interface %}selected{% endif %}>{{interface}}</option>
		{% endfor %}
	</select></td></tr>
</table>
<input type="submit" value="Save">
</form>
<br />

{% endblock %}
