{% extends 'base.html' %}


{% block body %}

<table>
	<tr><th>Name</th><th>Host</th><th>Port</th><th>URL</th></tr>
{% for service in services %}
	<tr><td>{{ service.name }}</td>
		<td>{{ service.host }}</td>
		<td>{{ service.port }}</td>
		<td>{{ service.protocol }}<b>://{{ hostname }}:</b>{{ service.local_port }}<b>/</b>{{ service.path }}</td>
		<td><form method="get" action="/olsr_services/delete/{{ service.service_id }}"><button type="submit">Delete</button></form></td>
	</tr>
{% endfor %}
</table>

<form method="get" action="/olsr_services/add">
	<button type="submit">Add Service</button>
</form>
</table>

{% endblock %}
