{% block body %}

<table border=0>
	<tr><th>ESSID</th><th>Address</th><th>Channel</th><th>Quality</th></tr>
{% for network in networks %}
<tr><form method="post" action="/mesh">
	<td><input type="text" name="essid" value="{{ network.ESSID }}" size="15" readonly></td>
	<td><input type="text" name="wireless_address" value="{{ network.Address }}" size="15" readonly></td>
	<td><input type="text" name="channel" value="{{ network.Channel }}" size="4" readonly></td>
	<td><input type="text" name="quality" value="{{ network.Quality }}" size="4" readonly></td>
{% if network.Mode == 'Ad-Hoc' %}
	<td>
		<input type="hidden" name="mode" value="{{ network.Mode.lower() }}">
		<input type="hidden" name="copy" value="1">
		<input type="submit" value="Mesh">
	</td>
{% endif %}
</form></tr>
{% endfor %}
</table>

{% endblock %}
