{% extends 'base.html' %}


{% block body %}

<table border=0>
<tr><th>Name</th><th>Host</th><th>Port</th><th>Protocol</th><th>Local Port</th><th>Service URL</th></tr>
{% for service in services %}
<tr><form method="post" action="/servicemod">
<input type="hidden" name="id" value="{{ service.name }}" readonly>
	<td><input type="text" name="name" value="{{ service.name }}" readonly></td>
	<td><input type="text" name="host" value="{{ service.host }}" readonly></td>
	<td><input type="number" name="port" value="{{ service.port }}" readonly></td>
	<td><input type="text" name="protocol" value="{{ service.protocol }}" readonly></td>
	<td><input type="number" name="local_port" value="{{ service.local_port }}" readonly></td>
	<td><input type="text" name="url" value="{{ service.url }}" readonly></td>
	<td>XXX</td>
</form></tr>
{% endfor %}

<form method="get" action="/servicesmod">
	<button type="submit">Add Service</button>
</form>
</table>

{% endblock %}
